/* styles.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  color: #0145b2;
  background: #fff;
  position: relative;
  border-radius: 8px;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.form {
  gap: 2rem;
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.form > span {
  font-size: 14px;
  align-self: flex-start;
}

label {
  margin-bottom: 15px;
}

label span {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
  color: grey;
}

.formSubmit {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.formSubmit:hover {
  background-color: #0056b3;
}

.tableButton {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #0145b2;
  color: #0145b2;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgb(245, 247, 250);
}

.tableButton:hover {
  background-color: #0145b2;
  color: white;
}

.tableButton .active {
  background-color: #0145b2;
  color: white;
  border: none;
}

.tableButton .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
