.proposalTypeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.createDaoHeading {
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.proposalType {
  width: 250px;
  height: 40px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.proposalTypeContainer > label {
  font-size: 16px;
}

.propsalForm {
  gap: 1rem;
  display: flex;
  max-width: 400px;
  margin-top: 40px;
  flex-direction: column;
}

.propsalForm > button {
  width: 70px;
  height: 30px;
  align-self: center;
}

.formInput {
  width: 100%;
  height: 40px;
  padding: 5px;
}

.propsalForm > div {
  gap: 1rem;
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

.addRemoveTransaction {
  gap: 0.5rem;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
  align-items: center;
}

.epcType {
  height: 40px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px; /* Adjusted width */
  height: 10px; /* Adjusted height */
  border-radius: 50%;
  background: #f24726;
  cursor: pointer;
  margin-top: -3.5px; /* Center the thumb vertically */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: black;
}

form button {
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  border-radius: 2px;
  border: 0.5px solid black;
  background-color: transparent;
}