.sectionContainer {
  padding-top: 0px;
}

h2, span {
  color: #0145b2;
}

.allDaoProposals > h2 {
  padding: 30px 0px 40px 0px;

}

.sectionContainer > * {
  width: 100%;
}

.daoHeading {
  align-self: start;
  margin: 0px;
}

.daoSearch {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.daoSearch:focus {
  border-color: #007bff;
  outline: none;
  color: grey;
}

.daoInfoContainer {
  width: 100%;
  display: flex;
  color: #0145b2;
  align-items: center;
  justify-content: space-between;
}

.daoInfoContainer > div {
  height: 150px;
  background-color: white;
}

.daoInfoContainer > div:nth-child(1) {
  gap: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.daoInfoContainer > div:nth-child(1) > * {
  margin: 0px;
}

.historicProposalsLink {
  font-size: 12px;
  cursor: pointer;
  margin-top: 5rem;
  font-weight: bolder;
  text-decoration: underline;
}

.daoInfoContainer button {
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  border: 0.5px solid #0145b2;;
  background-color: transparent;
}

.daoInfoContainer button:hover {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 710px) {
  .daoInfoContainer {
    gap: 2rem;
    flex-direction: column;
  }

  .daoInfoContainer > div {
    width: 100%;
  }
}

.filterContainer {
  gap: 0.5rem;
  display: flex;
  max-width: 400px;
  align-self: start;
  text-align: center;
  margin-bottom: 5px;
  align-items: baseline;
  justify-content: center;
}

.filterContainer label {
  margin-right: 10px;
}

.filterContainer select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}