.poolDetailsContainer {
    display: flex;
    margin-top: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.delegateStakeForm {
    gap: 1rem;
    width: 500px;
    height: 65px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    align-items: center;
    justify-content: center;
}

.delegateStakeHeading {
    margin-top: 7vh;
}

.stakeSubmitBtn {
    width: 25%;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 700;
    color: #1F45B2;
    letter-spacing: 0;
    border-radius: 99px;
    border: 1px solid #1F45B2;
    text-overflow: ellipsis;
    border-width: 2px !important;
    background-color: white;
    align-self: flex-end;
}

.stakeSubmitBtn:hover {
    color:white;
    background-color: #1F45B2;
    transition: background-color .5s;
}

input {
    width: 70%;
    height: 100%;
    padding: 16px;
    font-size: 14px;
    color: #030a49;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #EEF8FF;
    border: rgba(1, 69, 178, 0.2) 1px solid;
}
  
input:focus {
    border: 1px solid #0145b2;
    outline: none;
}

.stakingInfo {
    gap: 1rem;
    width: 500px;
    display: flex;
    min-width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.stakingInfo > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DEE2E6;
}