h1 {
  color: #0145b2;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25em;
  overflow: hidden;
}

.heroSection {
  padding-bottom: 0px;
}

.heroContainer {
  margin-top: 2rem;
}

.homeContainer {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  justify-content: center;
}

.getStartedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStartedContainer > div {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1; /* Each div takes 50% of the container */
  padding: 0 10px; /* Adjust the padding as needed */
}

.getStartedContainer > div > button {
  height: 35px;
  width: 100px;
  color: #0e44b2;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  font-weight: 900;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid #0e44b2;
  background-color: transparent;
}

/* .getStartedContainer > div > img {
    height: 400px;
} */

.loader {
  background-color: #ededed;
  height: 18px;
  border-radius: 7px;
  width: 100%;
}

.infoContainer {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.infoContainer > div > p {
  color: #0e44b2;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoContainer > div > p:first-of-type {
  font-size: 20px;
  color: #0e44b2;
  font-weight: bold;
}

.styledTableFirst {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

.styledTableFirst thead tr {
  background-color: rgb(245, 247, 250);
  color: #0145b2;
  text-align: left;
  height: 80px;
  font-weight: 600;
}

.styledTableFirst th,
.styledTableFirst td {
  padding: 12px 15px;
  text-align: left;
  height: 64px;
}

.styledTableFirst tbody {
  background-color: white;
}

.styledTableFirst tbody tr {
  border-bottom: 1px solid rgba(245, 247, 250, 0);
}

.styledTableFirst img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.styledTableFirst > tbody > tr:nth-child(2) > td:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.styledTableFirst > tbody > tr:nth-child(2) > td:nth-child(1) > span {
  font-size: 12px;
}

.tableBodyRow:hover {
  cursor: pointer;
  background-color: #e6f2ff; /* Light blue */
}

.statsContainer {
  width: 100%;
}

.loggedInBtns {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.loggedInBtns button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSplit {
  gap: 1rem;
  overflow: hidden;
  max-width: 100%;
}

.heroSplitImg {
  opacity: 0;
  transform: translateX(500px);
  animation: ImgMoveXAndFade 1.5s cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes ImgMoveXAndFade {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.heroWrapper {
  gap: 5rem;
  background-color: white;
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  .heroWrapper {
    gap: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .heroWrapper {
    gap: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .heroWrapper {
    gap: 0rem;
  }
}

.noPoolButtons {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clientsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}

.styledTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  background-color: white;
}

.styledTable th {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.styledTable th > svg {
  top: 50%;
  left: auto;
  margin-left: 10px;
  position: absolute;
  pointer-events: none;
  transform: translateY(-60%);
}

.styledTable thead tr {
  /* background-color: rgb(245, 247, 250); */
  color: #0145b2;
  text-align: left;
  height: 80px;
}

.styledTable th,
.styledTable td {
  padding: 12px 15px;
}

.styledTable tbody tr {
  border-bottom: 1px solid rgba(245, 247, 250, 0);
}

.styledTable img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.topValidatorsContainer {
  display: flex;
  flex-direction: column;
}

.topValidatorsContainer > a {
  margin-top: 2rem;
  align-self: center;
}

.tableContainer {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}

.daoPhaseBannerContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.daoPhaseBannerContainer > div {
  gap: 0.5rem;
  max-width: 180px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.daoPhaseBannerContainer > div > button {
  display: none;
}

.daoPhaseBannerContainer > button {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #0145b2;
  color: #0145b2;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgb(245, 247, 250);
}

.daoPhaseBannerContainer > button:hover {
  background-color: #0145b2;
  color: white;
}

.daoPhaseBannerContainer > button .active {
  background-color: #0145b2;
  color: white;
  border: none;
}

.daoPhaseBannerContainer > button .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.poolActive {
  color: green;
}

.poolBanned {
  color: red;
}

.mainHeading > h1 {
  overflow: hidden;
  transform: translateY(115px);
  animation: headingMoveYAndFade 0.6s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.div-block, .div-block-2, .div-block-3 {
  overflow: hidden;
}

@keyframes headingMoveYAndFade {
  from {
    transform: translateY(115px);
  }
  to {
    transform: translateY(0);
  }
}

.heroDescription {
  transform: translateY(140px);
  animation: descriptionMoveYAndFade 0.6s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  animation-delay: 0.2s;
}

@keyframes descriptionMoveYAndFade {
  0% {
    transform: translateY(140px);
  }
  100% {
    transform: translateY(0);
  }
}

.actionBtn {
  opacity: 0;
  animation: actionBtnMoveYAndFade 0.6s cubic-bezier(0.5, 1, 0.89, 1) forwards;
  animation-delay: 0.7s;
}

@keyframes actionBtnMoveYAndFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gridContainer {
  overflow: hidden;
}

.gridBlock {
  opacity: 0;
  transform: translateY(300px);
  animation: gridBlockMoveYAndFade 0.6s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  animation-delay: 0.2s;
}

@keyframes gridBlockMoveYAndFade {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #0145b2;
  text-align: center;
  padding-bottom: 30px;
}

details {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: white;
}

details > summary {
  cursor: pointer;
  font-weight: bold;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none; /* Prevents text selection */
}

details > summary::marker {
  display: none;
}

details > summary::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 1.5em;
  color: #007bff;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  content: "-";
  color: red;
  transform: rotate(180deg);
}

details[open] summary {
  color: #007bff;
}

details > p {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  user-select: text; /* Allow text selection inside the content */
}

details > ul > * {
  text-align: left;
}