.heroContainer {
  margin-top: 2rem;
}

.homeContainer {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  justify-content: center;
}

.getStartedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStartedContainer > div {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1; /* Each div takes 50% of the container */
  padding: 0 10px; /* Adjust the padding as needed */
}

.getStartedContainer > div > button {
  height: 35px;
  width: 100px;
  color: #0e44b2;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  font-weight: 900;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid #0e44b2;
  background-color: transparent;
}

/* .getStartedContainer > div > img {
    height: 400px;
} */

.loader {
  background-color: #ededed;
  height: 18px;
  border-radius: 7px;
  width: 100%;
}

.infoContainer {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.infoContainer > div > p {
  color: #0e44b2;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoContainer > div > p:first-of-type {
  font-size: 20px;
  color: #0e44b2;
  font-weight: bold;
}

.styledTableFirst {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

.styledTableFirst thead tr {
  background-color: rgb(245, 247, 250);
  color: #0145b2;
  text-align: left;
  height: 80px;
  font-weight: 600;
}

.styledTableFirst th,
.styledTableFirst td {
  padding: 12px 15px;
  text-align: left;
}

.styledTableFirst tbody {
  background-color: white;
}

.styledTableFirst tbody tr {
  border-bottom: 1px solid rgba(245, 247, 250, 0);
}

.styledTableFirst img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.tableBodyRow:hover {
  cursor: pointer;
  background-color: #e6f2ff; /* Light blue */
}

.tableButton {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #0145b2;
  color: #0145b2;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgb(245, 247, 250);
}

.tableButton:hover {
  background-color: #0145b2;
  color: white;
}

.tableButton .active {
  background-color: #0145b2;
  color: white;
  border: none;
}

.tableButton .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.statsContainer {
  width: 100%;
}

.loggedInBtns {
  gap: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.loggedInBtns button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSplit {
  gap: 1rem;
}

.heroWrapper {
  gap: 5rem;
  background-color: white;
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  .heroWrapper {
    gap: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .heroWrapper {
    gap: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .heroWrapper {
    gap: 0rem;
  }
}

.noPoolButtons {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableButton {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #0145b2;
  color: #0145b2;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(245, 247, 250);
}

.tableButton:hover {
  background-color: #0145b2;
  color: white;
}

.tableButton .active {
  background-color: #0145b2;
  color: white;
  border: none;
}

.tableButton .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.clientsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}

.styledTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  background-color: white;
}

.styledTable th {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.styledTable th > svg {
  top: 50%;
  left: auto;
  margin-left: 10px;
  position: absolute;
  pointer-events: none;
  transform: translateY(-60%);
}

.styledTable thead tr {
  /* background-color: rgb(245, 247, 250); */
  color: #0145b2;
  text-align: left;
  height: 80px;
}

.styledTable th,
.styledTable td {
  padding: 12px 15px;
}

.styledTable tbody tr {
  border-bottom: 1px solid rgba(245, 247, 250, 0);
}

.styledTable img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.tableBodyRow:hover {
  cursor: pointer;
  background-color: #e6f2ff; /* Light blue */
}

.topValidatorsContainer {
  display: flex;
  flex-direction: column;
}

.topValidatorsContainer > a {
  margin-top: 2rem;
  align-self: center;
}

.tableContainer {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}
