.daoHeading {
  align-self: start;
  margin: 0px;
}

.daoSearch {
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid black;
  background-color: transparent;
}

.myDaoProposals {
  overflow-x: scroll;
}

.allDaoProposals {
  overflow-x: scroll;
}

.daoInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.daoInfoContainer > div {
  height: 150px;
}

.daoInfoContainer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.daoInfoContainer > div:nth-child(2) {
  display: flex;
  padding: 20px;
  min-width: 350px;
  text-align: center;
  border-radius: 50px;
  flex-direction: column;
  border: 1px solid #ddd;
  justify-content: space-between;  
}

.daoInfoContainer > div:nth-child(1) > * {
  margin: 0px;
}

.daoInfoContainer > div:nth-child(2) > * {
  margin: 0px;
}

.historicProposalsLink {
  font-size: 12px;
  cursor: pointer;
  margin-top: 5rem;
  font-weight: bolder;
  text-decoration: underline;
}

.daoInfoContainer button {
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  border: 0.5px solid black;
  background-color: transparent;
}

.daoInfoContainer button:hover {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 710px) {
  .daoInfoContainer {
    gap: 2rem;
    flex-direction: column;
  }

  .daoInfoContainer > div {
    width: 100%;
  }
}