.sectionContainer {
  gap: 1.5rem;
  padding: 0px;
}

h1, h2, h3, h4, p, span {
  color: #0145b2;
}

.h2Heading {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.daoDetailsHeading {
  width: 100%;
  display: flex;
  align-items: center;
  color: #0145b2;
  justify-content: space-between;
}

.daoDetailsContainer {
  gap: 2rem;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.proposalCreatedBy {
  width: 250px;
  display: flex;
  font-size: 12px;
  color: #0145b2;
  align-items: center;
}

.proposalCreatedBy > span {
  margin: 0;
  width: 100%;
}

.proposalCreatedBy > div {
  direction: rtl;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.daoDetailsContainer > p {
  margin: 0px;
}

.daoDetailsContainer > div:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.daoDetailsHeading > button {
  height: 35px;
  margin: 10px;
  font-size: 14px;
  font-weight: 700;
  align-self: center;
  border-radius: 5px;
  border: 0.5px solid #0145b2;
  background-color: transparent;
}

.daoDetailsFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.daoDetailsFooter > span {
  font-size: 18px;
  font-weight: 800;
}

.payoutDetailsContainer {
  margin: 50px;
  min-width: 50%;
  font-weight: 800;
  gap: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.payoutDetailsContainer > div {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.payoutDetailsContainer > div > div {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.payoutDetailsContainer > div > div > span:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dismissProposalContainer {
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dismissProposalContainer > div {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dismissProposalContainer > div > div > button {
  width: 70px;
  margin: 10px;
  font-weight: 600;
  background-color: transparent;
}

.dismissProposalContainer > div > div > button:nth-child(1):hover {
  background-color: #00ff00;
}

.dismissProposalContainer > div > div > button:nth-child(2):hover {
  background-color: #ff0000;
}

.votingPhaseContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.votingPhaseStats {
  gap: 0.5rem;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.votingPhaseProgress {
  gap: 0.5rem;
  display: flex;
  min-width: 320px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.votingPhaseProgress > input {
  width: 100%;
  cursor: default;
}

.votingPhaseButtons {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.votingPhaseButtons > div {
  gap: 1rem;
  display: flex;
  min-width: 320px;
  align-items: center;
  justify-content: center;
}

.votingPhaseButtons > div > button {
  gap: 5px;
  height: 30px;
  width: 150px;
  display: flex;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  align-self: center;
  align-items: center;
  justify-content: center;
  border: 0.5px solid black;
  background-color: transparent;
}

.alreadyVotedBtns {
  gap: 1rem;
  display: flex;
  min-width: 320px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.alreadyVotedBtns > button {
  gap: 5px;
  height: 30px;
  width: 150px;
  display: flex;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  align-self: center;
  align-items: center;
  justify-content: center;
  border: 0.5px solid black;
  background-color: transparent;
}

.voteForBtn:hover {
  color: white;
  align-items: center;
  background-color: #00ff00;
}

.voteAgainstBtn:hover {
  color: white;
  align-items: center;
  background-color: #ff0000;
}

.ecpDetailsContainer {
  gap: 1.5rem;
  margin: 10px;
  display: flex;
  min-width: 50%;
  font-weight: 700;
  flex-direction: column;
}

.ecpDetailsContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cupDetailsContainer {
  gap: 1.5rem;
  margin: 10px;
  display: flex;
  min-width: 50%;
  font-weight: 700;
  flex-direction: column;
  overflow-x: auto;
}

.cupDetailsContainer > div {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(1, 69, 178, .2);
}

.cupDetailsContainer > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items in the center vertically */
}

.cupDetailsContainer > div > div > *:first-child {
  margin-right: auto;
}


.cupDetailsContainer > div > div > span {
  max-width: 450px; /* Increased max-width for better readability */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cupDetailsContainer > div > h3 {
 text-align: left; 
}

.proposalDiscussionLink {
  color: #0145b2;
  font-weight: bold;
}

.finalizedProposalContainer {
  gap: 1rem;
  display: flex;
  min-width: 50%;
  margin-top: 20px;
  font-weight: 700;
  flex-direction: column;
}

input {
  width: 100%;
  height: 40px;
  padding: 5px;
}

.descriptionContainer {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 300px;
  color: #0145b2;
  text-align: start;
}

.descriptionContainer::-webkit-scrollbar {
  width: 8px;
}

.descriptionContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.descriptionContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.descriptionContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 600px) {
  .cupDetailsContainer {
    margin: 5px;
    min-width: 100%;
    flex-direction: column;
  }

  .cupDetailsContainer > div {
    gap: 0.25rem;
  }

  .cupDetailsContainer > div > div > span {
    max-width: 200px;
  }
}

/* Add to styles.module.css or a separate stylesheet */
.decodedData {
  display: flex;
  align-items: center;
}

.decodedData > *:first-child {
  margin-right: auto;
}

.copyButton {
  margin-left: 10px;
  background-color: #96c9ff;
  color: white;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 4px;
}

.copyButton:hover {
  background-color: #0056b3;
}
