.sectionContainer {
  padding: 0px;
}

.sectionContainer > h1 {
  width: 100%;
  color: #0145b2;
  text-align: center;
  padding-bottom: 30px;
}

.tableContainer {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 100%;
  min-height: 80vh;
  overflow-x: auto;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}

.styledTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

.styledTable th {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.styledTable th > svg {
  top: 50%;
  left: auto;
  margin-left: 10px;
  position: absolute;
  pointer-events: none;
  transform: translateY(-60%);
}

.styledTable thead tr {
  background-color: rgb(245, 247, 250);
  color: #0145b2;
  text-align: left;
  height: 80px;
}

.styledTable th,
.styledTable td {
  padding: 12px 15px;
}

.styledTable tbody tr {
  border-bottom: 1px solid rgba(245, 247, 250, 0);
  padding: 20px;
}
.styledTable img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .styledTable th:nth-child(4),
  .styledTable td:nth-child(4) {
    display: none;
  }
}

@media (max-width: 480px) {
  .styledTable th:nth-child(3),
  .styledTable td:nth-child(3),
  .styledTable th:nth-child(4),
  .styledTable td:nth-child(4) {
    display: none;
  }
} */

/* Add these styles to your styles.module.css */

.pagination {
  gap: 1rem;
  padding: 0;
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.pagination li {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #0145b2;
  color: #0145b2;
  text-decoration: none;
  border-radius: 4px;
}

.pagination li:hover {
  background-color: #0145b2;
  color: white;
}

.pagination .active {
  background-color: #0145b2;
  color: white;
  border: none;
}

.pagination .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.tableBodyRow:hover {
  cursor: pointer;
  background-color: #e6f2ff; /* Light blue */
}

.loader {
  background-color: #ededed;
  height: 18px;
  border-radius: 7px;
  width: 100%;
}

td .loader {
  background-color: #ededed;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -30%;
  }
}

.poolActive {
  color: green;
}

.poolBanned {
  color: red;
}

.filterContainer {
  gap: 1rem;
  display: flex;
  align-self: start;
  text-align: center;
  margin-bottom: 20px;
  align-items: baseline;
  justify-content: center;
}

.filterContainer label {
  margin-right: 10px;
}

.filterContainer select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}