table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tablePagination {
    gap: 0.5rem;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

table button {
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  border: 0.5px solid black;
  background-color: transparent;
}

table button:hover {
  background-color: #f2f2f2;
}