.tableContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tableContainer > * {
  width: 100%;
}

.tableContainer > div:nth-child(1) {
  overflow-x: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tablePagination {
  gap: 0.5rem;
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tablePagination > button {
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  border-radius: 3px;
  border: 0.5px solid black;
  background-color: transparent;
}

table button {
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  border: 0.5px solid black;
  background-color: transparent;
}

table button:hover {
  background-color: #f2f2f2;
}

.loader {
  background-color: #ededed;
  height: 18px;
  border-radius: 7px;
  width: 100%;
}

td .loader {
  background-color: #ededed;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -30%;
  }
}
