.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100% !important;
  display: flex !important;
  margin-bottom: 5vh !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 10px 0 10px !important;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .connectWalletBtn {
    margin: 5px;
  }

  .navbar > a > img {
    width: 200px;
  }

  .navbar > a {
    order: 0;
  }

  .navbar > button:last-child {
    order: 1;
    margin-top: 20px;
  }

  .navbar > button:first-child {
    order: 2;
    
  }
}

/* .navbar > button:first-child {
  margin-right: 0px;
  margin-left: 10px;
} */
.connectWalletBtn {
  width: 145px;
  max-width: 150px;
  overflow: hidden;
  /* margin-right: 10px; */
  border-radius: 8px;
  text-overflow: ellipsis;
}

.nav-item > button {
  font-weight: 700;
  border-radius: 0px;
  color: #254CA0 !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nav-item > button:hover {
  color: white !important;
  background-color: #254CA0 !important;
}

.blockInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockInfo > button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.blockInfo > button:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}