h1, span {
  color: #0145b2;
}

.sectionContainer {
  padding-top: 0px;
}

.historicProposalsInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.historicProposalsInfoContainer > div {
  height: 150px;
  display: flex;
  max-width: 400px;
  padding: 20px 0px;
    margin-bottom: 50px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.historicProposalsHeading {
  align-self: start;
  margin: 0px;
}

.historicProposalsInfoContainer > div > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.historicProposalsInfoContainer > div > div > div {
  padding: 3px;
  cursor: pointer;
}

.historicProposalsSearch {
  width: 85%;
  height: 30px;
  padding: 5px;
  color: #0145b2;
  border-radius: 5px;
  border: 0.5px solid #0145b2;
  background-color: transparent;
}

.filterActive {
  border: 1px solid #0145b2;
  background-color: #f2f2f2;
}