h1, span {
  color: #0145b2;
}

.sectionContainer {
  padding-top: 0px;
}

.historicProposalsInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.historicProposalsInfoContainer > div {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.historicProposalsHeading {
  align-self: start;
  margin: 0px;
}

.historicProposalsInfoContainer > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.historicProposalsInfoContainer > div > div > div {
  padding: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
}

.filterActive {
  border: 1px solid #0145b2;
  background-color: #f2f2f2;
}

.historicProposalsSearch {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.historicProposalsSearch:focus {
  border-color: #007bff;
  outline: none;
  color: grey;
}

.filterContainer {
  gap: 0.5rem;
  display: flex;
  padding: 40px 0px 5px 0px;
  align-self: start;
  text-align: center;
  align-items: baseline;
  justify-content: center;
}

.filterContainer label {
  margin-right: 10px;
}

.filterContainer select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}