.daoPhaseBanner {
  gap: 0.5rem;
  display: flex;
  color: #0145b2;
  min-width: 350px;
  flex-direction: column;
  background-color: white;
}

.daoPhaseBanner > div > h4 {
  font-size: 24px;
  text-align: center;
}

.daoPhaseBanner > div {
  gap: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.daoPhaseBanner > * {
  margin: 0px;
}

.daoBtn {
  align-self: center;
  margin-top: 10px;
  max-width: 120px;
}

.statisticsTable {
  padding: 0px;
}